<div class="wrapper wrapper-content animated fadeInRight" ng-controller="FormController">
            <div class="row">
                <div class="col-lg-7" ng-hide="form.showRegisterForm">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div ng-if="form.invalidLogin">Invalid Credentials <a href="javascript:void(0);" ng-click="form.resetform();">Please try again.</a></div>
                                <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">SIGN IN</h3>
                                    <form name="loginForm" ng-submit="submitForm(formValues);">
                                        <div class="form-group"><label>Email</label> <input type="email" placeholder="Enter email" class="form-control" name="email" ng-model="formValues.email" required></div>
                                        <div class="help-block" ng-if="loginForm.email.$error.required && !loginForm.email.$pristine">
                                        Email is Required.
                                      </div>
                                      <div class="help-block" ng-if="loginForm.email.$error.email">
                                       Please enter a Valid Email.
                                      </div>
                                        <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control" name="password" ng-model="formValues.password" required></div>
                                        <div class="help-block" ng-if="loginForm.password.$invalid && !loginForm.password.$pristine">
                                          Password is Required.
                                        </div>
                                        <div>
                                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-disabled="loginForm.$invalid" type="submit"><strong>Log in</strong></button>
                                            <i ng-if="logInSpinner" style="position: relative;top: -5px;" class="fa fa-spinner fa-spin fa-2x pull-right" aria-hidden="true"></i>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-6"><h4>Not a member?</h4>
                                    <p>You can create an account:</p>
                                    <p class="text-center">
                                        <a href="javascript:void(0);" ng-click="form.registerForm();"><i class="fa fa-sign-in big-icon"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6" ng-show="form.showRegisterForm">
                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title">REGISTER</div>
                  </div>
                  <div class="panel-body">
                    <form name="registerform">
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <label for="grid-input-16">First name</label>
                          <input type="text" id="grid-input-16" class="form-control" name="firstName" ng-model="register.firstName" required>  
                          <div class="help-block" ng-if="registerform.firstName.$invalid && !registerform.firstName.$pristine">
                            This Field is Required.
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <label for="grid-input-17">Last name</label>
                          <input type="text" id="grid-input-17" class="form-control" name="lastName" ng-model="register.lastName" required>
                          <div class="help-block" ng-if="registerform.lastName.$invalid && !registerform.lastName.$pristine">
                            This Field is Required.
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <label for="grid-input-18">E-mail</label>
                          <input type="email" id="grid-input-18" class="form-control" name="email" ng-model="register.email" required>
                          <div class="help-block" ng-if="registerform.email.$error.required && !registerform.email.$pristine">
                            This Field is Required.
                          </div>
                          <div class="help-block" ng-if="registerform.email.$error.email">
                           Please enter a Valid Email.
                          </div>
                        </div>
                         <div class="col-sm-6 form-group">
                          <label for="grid-input-17">Password</label>
                          <input type="password" id="grid-input-17" class="form-control" name="password" ng-model="register.password" required>
                          <div class="help-block" ng-if="registerform.password.$invalid && !registerform.password.$pristine">
                            This Field is Required.
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 form-group">
                          <label>Role</label>
                              <select class="custom-select form-control" name="role" ng-model="register.role" ng-options="role.id as role.name for role in form.roles">
                              </select>
                          </div>
                      </div>
                        </div>
                      </div>
                        <button class="btn btn-sm btn-default pull-right m-t-n-xs" ng-disabled="registerform.$invalid" ng-click="submitRegister(register);"
                            <strong>Register</strong>
                        </button>
                        <button class="btn btn-sm btn-primary m-t-n-xs" ng-click="form.registerForm();">
                            <strong><i class="fa fa-arrow-left" aria-hidden="true"></i></strong>
                        </button>
                          <i style="position: relative;top: -5px;" ng-if="registerSpinner" class="fa fa-spinner fa-spin fa-2x pull-right" aria-hidden="true"></i>
                      </div>  
                    </form>
                  </div>
                </div>
              </div>
    </div>
  </div> 


       