<div id="reportPdf">
<div class="row">
	<div class="col-md-6">
      <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title">General Information</div>
                  </div>
                  <div class="panel-body">
                    <form name="generalForm">
                      <div class="row">
                        <div class="col-sm-12 form-group">
                          <label for="grid-input-16">Purpose</label>
                          <input type="text" id="grid-input-16" class="form-control" name="purpose" ng-model="reportModel.purpose" required>  
                          <div class="help-block" ng-if="generalForm.purpose.$invalid && !generalForm.purpose.$pristine">
                            This Field is Required.
                          </div>
                        </div>
                        <div class="col-sm-12 form-group">
                          <label for="grid-input-17">Description</label>
                          <textarea cols="50" rows="5" class="form-control" id="grid-input-17" ng-model="reportModel.description"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 form-group">
                          <label for="grid-input-18">Creation</label>
                          <p class="input-group">
                          <input type="text" name="creation" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="reportModel.dateCreation" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                          </span>
                         </p>
                         <div class="help-block" ng-if="generalForm.creation.$invalid && !generalForm.creation.$pristine">
                            This Field is Required.
                          </div>
                        </div>
                      </div>
                        </div>
                      </div> 
  </div>
  <div class="col-md-6 form-group">
    <label>Role</label>
                <select class="custom-select form-control" name="role" ng-model="reportModel.selectedCity" ng-options="data.city for data in report.CitiesDetail" ng-change="map(reportModel.selectedCity)">
                </select>
  </div>
	<div class="col-md-6">

		<div class="panel panel-success">
          <div class="panel-heading">
            <div class="col-sm-6 form-group">
            
            </div>
            <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Support tickets</span>
            <div class="panel-heading-controls">
              <div class="panel-heading-text">
                <a  href="#">15 new tickets</a>
              </div>
            </div>
          </div>

          <div id="map" class="ps-block" style="height: 300px">
            Google Maps
          </div>

        </div>

        <!-- / Support tickets -->

      </div>
	</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label>Role</label>
        <select class="custom-select form-control" ng-model="reportModel.barchart" ng-options="barchart.name for barchart in report.barchartOptions" ng-change="report.barchartData()">
        </select>
    </div>
    <div class="col-sm-6 form-group">
      <label>Role</label>
          <select class="custom-select form-control" ng-model="reportModel.piecheckedData" ng-options="pie.name for pie in report.pieDataOptions" ng-change="report.piechart(reportModel.piecheckedData)">
          </select>
      </div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>BAR CHART</span>
            <div class="panel-heading-controls">
              <div class="panel-heading-text">
                <!-- <a  href="#">15 new tickets</a> -->
              </div>
            </div>
          </div>

          <div id="barChart" class="ps-block" style="height: 500px">
          </div>

        </div>

        <!-- / Support tickets -->

      </div>
      <div class="col-sm-6">
		<div class="panel panel-success">
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>DONUT CHART</span>
            <div class="panel-heading-controls">
              <div class="panel-heading-text">
                <button id="refresh-btn">Refresh Data</button>
              </div>
            </div>
          </div>

          <div id="pieChart" class="ps-block" style="height: 500px">
          </div>

        </div>

        <!-- / Support tickets -->

      </div>
	</div>
	<button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-click="report.openModal(reportModel);"
        <strong>Save Report</strong>
    </button>
 <!--    <button style="margin-right: 5px;" class="btn btn-sm btn-default pull-right m-t-n-xs" ng-click="report.downloadReport();"
        <strong>Download Report</strong>
    </button> -->

    <button ng-if="loginDetails.role === 1 || loginDetails.role === 2" style="margin-right: 5px;" class="btn btn-sm btn-default pull-right m-t-n-xs" ng-click="report.shareReport(reportModel);"
        <strong>Share Report</strong>
    </button>
    <div class="col-sm-6 pull-right" style="margin-top: -10px" ng-show="showShare">
       <tags-input ng-model="reportModel.tags" placeholder="Enter an email"></tags-input>
    </div>
</div>