<ng-include src="'views/form.html'" ng-if="!loginDetails"></ng-include>

<div ng-if="loginDetails">
	<div ng-if="loadSpinner">
		<i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
	</div>

	<div class="row pull-right">
		<div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto">
	      <a href="javascript:void(0);" ng-click="media.createReport();" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Create Report</a>
	    </div>
	</div>
	<div ng-if="!loadSpinner">
		<div class="row">
			<div class="ibox float-e-margins" ng-if="reportsArray.length > 0">
				<div class="ibox-title">
				<h3>Reports</h3>
					<table class="table">
						<thead>
							<th>#</th>
							<th>Report Name</th>
							<th>Date Creation</th>
							<th>Purpose</th>
							<th>Action</th>
						</thead>
						<tbody ng-repeat="report in reportsArray">
							<td>{{$index + 1}}</td>
							<td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{report.fileName}}</td>
							<td>{{report.dateCreation | date}}</td>
							<th>{{report.purpose}}</th>
							<td><a href="javascript:void(0);" ng-click="media.openReport(report);">open</a></td>
						</tbody>
					</table>
				</div>
			</div>
			<div ng-if="!reportsArray.length > 0">
			<h3>No Reports Found!</h3>
		</div>
		</div>

	</div>

	<div class="ibox float-e-margins" ng-if="allusers.length > 0">
				<div class="ibox-title">
				<h3>All Users</h3>
					<table class="table">
						<thead>
							<th>#</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Email</th>
							<th>role</th>
						</thead>
						<tbody ng-repeat="user in allusers">
							<td>{{$index + 1}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<th>{{user.email}}</th>
							<th>{{user.role == 1 ? 'Director': (user.role == 2 ? 'Senior Associate' : ( user.role == 3 ? 'Associate' : (user.role == 4  ? 'Junior Associate' : '')))}}</th>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
