<button type="button" class="px-nav-toggle" data-toggle="px-nav">
      <span class="px-nav-toggle-arrow"></span>
      <span class="navbar-toggle-icon"></span>
      <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">
      <li class="px-nav-item">
        <a ui-sref="dataAnalytics"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">Data Analytics & Technology</span></a>
      </li>
      <li class="px-nav-item">
        <a ui-sref="hr"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">HR</span></a>
      </li>
      <li class="px-nav-item">
        <a ui-sref="socialMedia"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">Social Media</span></a>
      </li>
      <li class="px-nav-item">
        <a ui-sref="media"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">Media</span></a>
      </li>
      <li class="px-nav-item">
        <a ui-sref="finance"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">Finance</span></a>
      </li>
       <li class="px-nav-item">
        <a ui-sref="leadership"><i class="px-nav-icon ion-ios-analytics"></i><span class="px-nav-label">Leadership (Directors)</span></a>
      </li>
    </ul>